/*
!/.*
.ssh
.history
.*.padl
.CFUser*
.bash_history
.bash_profile-ana*
.bash_profile.pysave
.bash_sessions
.DS_Store
.Trash
.anaconda
.android
.atom
.babel.*
.bundle*
.cache
.conda*
.config
.cups
.expo
.gem
.gitbk*
.gitconfig
.gradle
.gvimrc
.httpie
.idlerc
.lesshst
.local
.mkshrc
.netrc
.node_repl_history
.npm
.pylint.*
.python*
.rvm*
.subversion
.swp
.tern-config
.vim_backup*
.*.bk
.vim/*
.viminfo
.vimrc_backup
.vim*.tmp
.wakatime.*
.vscode
.yarn*
.z*
